
  share > .btn-multi {
    position: absolute;
    z-index: 999;
    right: 0;
    bottom: 0;
  }
  share > .btn {
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 14px;
    background-color: #E91E63;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s ease-in;
    background-position: 50%;
    outline: none !important;
  }
  share > .btn.btn-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 0 !important;
    font-size: 18px;
  }
  share > .btn-multi input {
    display: none;
  }
  share > .btn-multi input:not(:checked) ~ label {
    transform: rotate(0);
  }
  share > .btn-multi input:not(:checked) ~ label .btn {
    border-radius: 0;
    height: 30px;
    width: 30px;
    box-shadow: none;
  }
  share > .btn-multi input:not(:checked) ~ label .btn:first-child {
    border-top-left-radius: 100%;
    transform: translate(25px, 25px);
  }
  share > .btn-multi input:not(:checked) ~ label .btn:nth-child(2) {
    border-top-right-radius: 100%;
    transform: translate(55px, 25px);
  }
  share > .btn-multi input:not(:checked) ~ label .btn:nth-child(3) {
    border-bottom-left-radius: 100%;
    transform: translate(25px, 55px);
  }
  share > .btn-multi input:not(:checked) ~ label .btn:nth-child(4) {
    border-bottom-right-radius: 100%;
    transform: translate(55px, 55px);
  }
  share > .btn-multi input:not(:checked) ~ label .btn .icon {
    opacity: 0;
  }
  share > .btn-multi input:not(:checked) ~ label > .icon {
    opacity: 1;
    cursor: pointer;
  }
  share > .btn-multi label {
    position: relative;
    height: 110px;
    width: 110px;
    display: block;
    transform: rotate(45deg);
    transition: all 0.2s ease-in;
    cursor: default;
    border-radius: 30px;
  }
  share > .btn-multi label .btn {
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  share > .btn-multi label .btn:nth-child(2) {
    transform: translate(60px, 0);
  }
  share > .btn-multi label .btn:nth-child(3) {
    transform: translate(0, 60px);
  }
  share > .btn-multi label .btn:nth-child(4) {
    transform: translate(60px, 60px);
  }
  share > .btn-multi label .btn .icon {
    opacity: 1;
    transition: all 0.15s ease-in-out;
    transform: rotate(-45deg);
  }
  share > .btn-multi label > .icon {
    color: white;
    position: absolute;
    border-radius: 50%;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    top: 25px;
    left: 25px;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }
  share > .btn-multi label .icon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  