
/* CARD */
.card {
    /* margin: 50px auto; */
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(240,240,240);
    text-align: center;
    border-radius: 10px;
    height: 470px;
    max-width: 300px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    font-family: arial;
    transition: all 0.2s ease-out;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 60px rgba(0,0,0,0.1)
  }
  
  .card p {
    opacity: 0.9;
  }
  
  .fa-star {
    color: rgb(193, 62, 141);
  }
  
  img {
    margin-top: 40px;
    max-height: 220px;
  }
  
  /* TITLE */
  h3 {
    letter-spacing: 1.7px;
    font-family: arial;
    font-size: 1.7em;
  }
  
  h3 span {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }
  
  /* BUTTON */
  button {
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: rgb(193, 62, 141);
    font-size: 1.3em;
    letter-spacing: 3px;
    font-weight: lighter;
    padding: 10px 0;
    box-shadow: none;
    width: 80%;
    border-radius: 5px;
    color: white;
    border: none;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* CARDHEADER */
  .cardheader {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .rating {
    position: absolute;
    top: 5px;
    left: 30px;
  }
  
  .price {
    position: absolute;
    top: 5px;
    right: 30px;
  }